<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cricketians</title>
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link rel="stylesheet" href="/styles2.css" type="text/css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="#">Cricketians</a>
        <span class="navbar-text">
            <h4>Create Team</h4>
        </span>
      </nav>
          <div class="jumbotron">
              <div class="row">
                  <div class="col-lg-3 outer">
                      <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5">PLAYERS</div>
                            <div class="col-lg-3">CREDITS</div>
                      </div>
                        
                  </div>
                  <div class="col-lg-3 outer">
                        <div class="row">
                              <div class="col-lg-2"></div>
                              <div class="col-lg-5">PLAYERS</div>
                              <div class="col-lg-3">CREDITS</div>
                        </div>
                          
                    </div>
                    <div class="col-lg-3 outer">
                            <div class="row">
                                  <div class="col-lg-2"></div>
                                  <div class="col-lg-5">PLAYERS</div>
                                  <div class="col-lg-3">CREDITS</div>
                            </div>
                              
                        </div>
                        <div class="col-lg-3 outer">
                                <div class="row">
                                      <div class="col-lg-2"></div>
                                      <div class="col-lg-5">PLAYERS</div>
                                      <div class="col-lg-3">CREDITS</div>
                                </div>
                                  
                            </div>
                    
              </div>
              <div class="row">
                    <div class="col-lg-3 outer">
                            <div class="row">
                              <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/8993.png"></div>
                              <div class="col-lg-5"><span class="player">R Pant</span> <br>IND- <span class="designation">WK</span></div>
                              <div class="col-lg-3"><span class="credits">9</span></div>
                              <div class="col-lg-2 count"><input type="checkbox"></div>
                            </div>
                              
                        </div>
                        <div class="col-lg-3 outer">
                              <div class="row">
                                    <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/6856.png"></div>
                                    <div class="col-lg-5"><span class="player">B Sharath</span> <br>IND- <span class="designation">WK</span></div>
                                    <div class="col-lg-3"><span class="credits">9</span></div>
                                    <div class="col-lg-2 count"><input type="checkbox"></div>
                              </div>
                                
                          </div>
                          <div class="col-lg-3 outer">
                                  <div class="row">
                                    <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/709.png"></div>
                                    <div class="col-lg-5"><span class="player"></span>W Saha <br>IND- <span class="designation">WK</span></div>
                                    <div class="col-lg-3"><span class="credits">8.5</span></div>
                                    <div class="col-lg-2 count"><input type="checkbox"></div>
                                  </div>
                                    
                              </div>
                              <div class="col-lg-3 outer">
                                      <div class="row">
                                          <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/635.png"></div>
                                          <div class="col-lg-5"><span class="player"></span>V Kohli <br>IND- <span class="designation">BAT</span></div>
                                          <div class="col-lg-3"><span class="credits">10.5</span></div>
                                          <div class="col-lg-2 count"><input type="checkbox"></div>
                                      </div>
                                        
                                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-3 outer">
                          <div class="row">
                            <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/701.png"></div>
                            <div class="col-lg-5"><span class="player">C Pujara</span> <br>IND- <span class="designation">BAT</span></div>
                            <div class="col-lg-3"><span class="credits">9.5</span></div>
                            <div class="col-lg-2 count"><input type="checkbox"></div>
                          </div>
                            
                      </div>
                      <div class="col-lg-3 outer">
                            <div class="row">
                                  <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/6.png"></div>
                                  <div class="col-lg-5"><span class="player">R Sharma</span> <br>IND- <span class="designation">BAT</span></div>
                                  <div class="col-lg-3"><span class="credits">9</span></div>
                                  <div class="col-lg-2 count"><input type="checkbox"></div>
                            </div>
                              
                        </div>
                        <div class="col-lg-3 outer">
                                <div class="row">
                                  <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/681.png"></div>
                                  <div class="col-lg-5"><span class="player">A Rahane</span> <br>IND- <span class="designation">BAT</span></div>
                                  <div class="col-lg-3"><span class="credits">9</span></div>
                                  <div class="col-lg-2 count"><input type="checkbox"></div>
                                </div>
                                  
                            </div>
                            <div class="col-lg-3 outer">
                                    <div class="row">
                                        <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/1137.png"></div>
                                        <div class="col-lg-5"><span class="player">M Agarwal</span> <br>IND- <span class="designation">BAT</span></div>
                                        <div class="col-lg-3"><span class="credits">8.5</span></div>
                                        <div class="col-lg-2 count"><input type="checkbox"></div>
                                    </div>
                                      
                                </div>
            </div>
            <div class="row">
                  <div class="col-lg-3 outer">
                          <div class="row">
                            <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/11533.png"></div>
                            <div class="col-lg-5"><span class="player">S Gill</span> <br>IND- <span class="designation">BAT</span></div>
                            <div class="col-lg-3"><span class="credits">8</span></div>
                            <div class="col-lg-2 count"><input type="checkbox"></div>
                          </div>
                            
                      </div>
                      <div class="col-lg-3 outer">
                            <div class="row">
                                  <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/36.png"></div>
                                  <div class="col-lg-5"><span class="player">R Jadeja</span> <br>IND- <span class="designation">ALL</span></div>
                                  <div class="col-lg-3"><span class="credits">9.5</span></div>
                                  <div class="col-lg-2 count"><input type="checkbox"></div>
                            </div>
                              
                        </div>
                        <div class="col-lg-3 outer">
                                <div class="row">
                                  <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/639.png"></div>
                                  <div class="col-lg-5"><span class="player">R Ashwin</span> <br>IND- <span class="designation">ALL</span></div>
                                  <div class="col-lg-3"><span class="credits">9.5</span></div>
                                  <div class="col-lg-2 count"><input type="checkbox"></div>
                                </div>
                                  
                            </div>
                            <div class="col-lg-3 outer">
                                    <div class="row">
                                        <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/1530.png"></div>
                                        <div class="col-lg-5"><span class="player">H Vihari</span> <br>IND- <span class="designation">ALL</span></div>
                                        <div class="col-lg-3"><span class="credits">8.5</span></div>
                                        <div class="col-lg-2 count"><input type="checkbox"></div>
                                    </div>
                                      
                                </div>
            </div>
            <div class="row">
                  <div class="col-lg-3 outer">
                          <div class="row">
                            <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/1134.png"></div>
                            <div class="col-lg-5"><span class="player">M Shami</span> <br>IND- <span class="designation">BOWL</span></div>
                            <div class="col-lg-3"><span class="credits">9</span></div>
                            <div class="col-lg-2 count"><input type="checkbox"></div>
                          </div>
                            
                      </div>
                      <div class="col-lg-3 outer">
                            <div class="row">
                                  <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/8993.png"></div>
                                  <div class="col-lg-5"><span class="player">R Pant</span> <br>IND- <span class="designation">WK</span></div>
                                  <div class="col-lg-3"><span class="credits">9</span></div>
                                  <div class="col-lg-2 count"><input type="checkbox"></div>
                            </div>
                              
                        </div>
                        <div class="col-lg-3 outer">
                                <div class="row">
                                  <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/8993.png"></div>
                                  <div class="col-lg-5"><span class="player">R Pant</span> <br>IND- <span class="designation">WK</span></div>
                                  <div class="col-lg-3"><span class="credits">9</span></div>
                                  <div class="col-lg-2 count"><input type="checkbox"></div>
                                </div>
                                  
                            </div>
                            <div class="col-lg-3 outer">
                                    <div class="row">
                                        <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/8993.png"></div>
                                        <div class="col-lg-5"><span class="player">R Pant</span> <br>IND- <span class="designation">WK</span></div>
                                        <div class="col-lg-3"><span class="credits">9</span></div>
                                        <div class="col-lg-2 count"><input type="checkbox"></div>
                                    </div>
                                      
                                </div>
            </div>
            <div class="row">
                  <div class="col-lg-3 outer">
                          <div class="row">
                            <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/8993.png"></div>
                            <div class="col-lg-5"><span class="player">R Pant</span> <br>IND- <span class="designation">WK</span></div>
                            <div class="col-lg-3"><span class="credits">9</span></div>
                            <div class="col-lg-2 count"><input type="checkbox"></div>
                          </div>
                            
                      </div>
                      <div class="col-lg-3 outer">
                            <div class="row">
                                  <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/8993.png"></div>
                                  <div class="col-lg-5"><span class="player">R Pant</span> <br>IND- <span class="designation">WK</span></div>
                                  <div class="col-lg-3"><span class="credits">9</span></div>
                                  <div class="col-lg-2 count"><input type="checkbox"></div>
                            </div>
                              
                        </div>
                        <div class="col-lg-3 outer">
                                <div class="row">
                                  <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/8993.png"></div>
                                  <div class="col-lg-5"><span class="player">R Pant</span> <br>IND- <span class="designation">WK</span></div>
                                  <div class="col-lg-3"><span class="credits">9</span></div>
                                  <div class="col-lg-2 count"><input type="checkbox"></div>
                                </div>
                                  
                            </div>
                            <div class="col-lg-3 outer">
                                    <div class="row">
                                        <div class="col-lg-2"><img src="https://d13ir53smqqeyp.cloudfront.net/player-images/8993.png"></div>
                                        <div class="col-lg-5"><span class="player">R Pant</span> <br>IND- <span class="designation">WK</span></div>
                                        <div class="col-lg-3"><span class="credits">9</span></div>
                                        <div class="col-lg-2 count"><input type="checkbox"></div>
                                    </div>
                                      
                                </div>
            </div>
           
                                      
                            
            
            </div>
            <form action="/selectcontest" method="GET">
                <button class="btn btn-success btn-lg" type="submit">Create</a></button>
            </form>
            
          
        <script type="text/javascript" src="/validation.js"></script>

</body>
</html>