<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link rel="stylesheet" href="/styles1.css" type="text/css">
    <title>Cricketians|Match Selection
    </title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
                <a class="navbar-brand" href="#">Cricketians</a>
                <span class="navbar-text">
                    <h4>Select Match</h4>
                </span>
              </nav>
              <div class="jumbotron">
                <a href="createteam"><h6>Emerging Asia Cup</h6></a>
                    
                            <div class="row">
                                    <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/IND-CR1@2x.png" class="col-lg-2 image">
                                    <h4 class="col-lg-3">IND-ET</h4>
                                    <h4 class="col-lg-2 time">20h left</h4>
                                    <h4 class="col-lg-3">NEP-ET</h4>
                                    <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/NEP-CR1@2x.png" class="col-lg-2 image">
                                </div>
                    
              </div>
              <div class="jumbotron">
                    <a href="createteam"><h6>Emerging Asia Cup</h6></a>
                        
                                <div class="row">
                                        <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/SRI-CR1@2x.png" class="col-lg-2 image">
                                        <h4 class="col-lg-3">SL-ET</h4>
                                        <h4 class="col-lg-2 time">20h left</h4>
                                        <h4 class="col-lg-3">OMN-ET</h4>
                                        <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/OMN-CR1@2x.png" class="col-lg-2 image">
                                    </div>
                        
                  </div>
                  <div class="jumbotron">
                        <a href="createteam"><h6>Emerging Asia Cup</h6></a>
                            
                                    <div class="row">
                                            <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/PAK-CR1@2x.png" class="col-lg-2 image">
                                            <h4 class="col-lg-3">PAK-ET</h4>
                                            <h4 class="col-lg-2 time">20h left</h4>
                                            <h4 class="col-lg-3">AFGH-ET</h4>
                                            <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/AFGH-CR1@2x.png" class="col-lg-2 image">
                                        </div>
                            
                      </div>
                      <div class="jumbotron">
                            <a href="createteam"><h6>Emerging Asia Cup</h6></a>
                                
                                        <div class="row">
                                                <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/BAN-CR1@2x.png" class="col-lg-2 image">
                                                <h4 class="col-lg-3">BD-ET</h4>
                                                <h4 class="col-lg-2 time">20h left</h4>
                                                <h4 class="col-lg-3">HK-ET</h4>
                                                <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/HK-CR1@2x.png" class="col-lg-2 image">
                                            </div>
                                
                          </div>
                          <script type="text/javascript" src="/time.js"></script>
</body>
</html>