h4{
    
    font-weight: 400;
    margin-top: 0.6rem;
    margin-left: 565px;
}

h6{
    color: rgb(99, 98, 98);
}
.col-lg-3,.col-lg-2{
    padding-top: 40px;
    padding-bottom: 10px;
    margin-left: 0;
    margin-top: 0;
}
.time{
    font-size: 1rem;
    color: red;
    padding-top: 6%;
    text-align: center;
    font-weight: 400;
}
.time + .col-lg-3{
    text-align: right;
}
.image{
    padding: 0 10px;
}
.jumbotron{
    padding: 1rem;
    
}
.jumbotron:first-of-type{
    margin-top: 3%;;
}

h6:hover{
    color: black;
}
a:hover{
    color: black;
}

.right{
    margin-left: 77%;
}

.small{
    margin-left: 30%;
    width:40%;
}
.btn-success{
    margin-left: 0;
    width: 70px;

}
a{
    color: rgb(99, 98, 98);
}

.xtrasmall{
margin-left: 42.5%;
    width: 15%;
}